* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
  font-family: "Source Sans 3", sans-serif;
  font-family: "Teko", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.loader {
  height: 100%;
  width: 100%;
  background-color: rgb(13, 13, 13);
  position: absolute;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 4vh;
  color: #fff;
}
.loader h1 i {
  color: #ae0c05;
  font-size: 6vh;
}
#main-working {
  position: relative;
  height: 100%;
}
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.back img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.top {
  pointer-events: none;
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.43);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}
.top .navbar {
  opacity: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top .navbar a {
  text-transform: uppercase;
  color: #fff;
  font-size: 1rem;
  padding: 10px 20px;
  text-decoration: none;
  pointer-events: all;
}
.top .navbar a h1 {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}

.hero {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 70vh;
}
.hero .hero-left {
  width: 50%;
}
.hero .hero-left .elem {
  overflow: hidden;
  height: 9vw;
  position: relative;
}
.hero .hero-left .elem .title-h1:nth-child(1) {
  top: 0;
}
.hero .hero-left .elem .title-h1 {
  position: absolute;
  left: 0;
  top: 100%;
  margin-bottom: 2rem;
  line-height: 1;
  font-size: 10vw;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Teko";
}
.hero .hero-left .elem .title-h1 .titleWraper {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: #ae0c05;
  top: 0;
  left: 0;
  right: 0;
  display: block;
}
.hero .hero-left .btn-primary {
  display: inline-block;
  text-decoration: none;
  background-color: #ae0c05;
  color: #ae0c05;
  font-size: 1.5vw;
  text-transform: uppercase;
  font-family: "Teko";
  padding: 0.75rem 2rem;
  outline: none;
  border: 1px solid #000;
  margin-top: 2rem;
  pointer-events: all;
}
.hero .hero-right {
  width: 20%;
  text-align: right;
}
.mypic-box {
  min-height: 200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 1rem;
  background-image: url("/images/pranay2.jpg");
  background-position: 0 0px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border: 1px solid #000;
}
.mypic-box::before {
  position: absolute;
  content: "";
  left: 10px;
  top: 10px;
  height: 90%;
  width: 90%;
  border: 1px solid #ae0c05;
  z-index: 1;
}
.hero .hero-right .contpara {
  font-size: 2rem;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 300;
  text-align: right;
  line-height: 1.4;
  margin-top: 3rem;
  position: relative;
  overflow: hidden;
}
.hero .hero-right .contpara .contwraper {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: #ae0c05;
  top: 0;
  left: 0;
  right: 0;
  display: block;
}
.hero .hero-right p:first-child() {
  margin-top: 0;
}

.where-click {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: hidden;
}
.where-click p {
  color: #fff;
  padding: 5px 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  /* From https://css.glass */
  background: #ff0d05;
  color: #ff0d05;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.where-click .wctop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ff0d05;
  z-index: 1;
}
.where-click .wcbott {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ff0d05;
  z-index: 1;
}

/* SOcial Links */

.social-links {
  width: 30%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 11;
  pointer-events: all;
}
.social-links .slink {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 10px;
}
.social-links .slink i {
  transition: all 0.4s ease-in-out;
}
.social-links .slink:hover i {
  color: #04aa6d;
}
