:root {
  /* --main-primary-color: #ffb400; */
  /* --main-primary-color: rgb(13, 23, 33) !important; */
  --main-primary-color: #04aa6d;
  --main-secondary-color: #111;
  --bg-warning-color: #ffb400;
  --bg-black: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Rajdhani", sans-serif;
  cursor: none;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--main-secondary-color);
  font-family: "Rajdhani", sans-serif;
  font-size: 15px;
  color: #fff;
}

/*  */
/* ============================== */
/* Background Animation Section */
/* ============================== */
/*  */

#loader {
  height: 100vh;
  width: 100%;
  background-color: var(--main-primary-color);
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 51px;
  font-weight: 900;
  /* From https://css.glass */
  background: rgba(4, 170, 109, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

/*  */
/* ============================== */
/* Background Animation Section */
/* ============================== */
/*  */

@media (any-pointer: fine) {
  .c-cursor {
    display: block;
  }

  .c-cursor__inner {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    border-radius: 50%;
    z-index: 99999;
  }

  .c-cursor__side {
    position: absolute;
    top: 50%;
    width: 5px;
    height: 1px;
    background: #fff;
    opacity: 0;
  }

  .c-cursor__side--left {
    right: calc(100% + 5px);
  }

  .c-cursor__side--right {
    left: calc(100% + 5px);
  }

  .c-cursor__inner--circle {
    width: 55px;
    height: 55px;
    border: 1px solid transparent;
    background: radial-gradient(
      ellipse at top right,
      #ffb400 0%,
      #04aa6d 46%,
      #208c4f 100%
    );
    -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 180, 0, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(255, 180, 0, 1);
    box-shadow: 0px 0px 20px 0px rgba(255, 180, 0, 1);
  }
}

/*  */
/* ============================== */
/* Background Animation Section */
/* ============================== */
/*  */
#main {
  height: 100%;
  width: 100%;
  background-color: #111;
  position: relative;
  overflow: hidden;
}

/*  */
/* ============================== */
/* Background Animation Section */
/* ============================== */
/*  */

.body-animtn1 {
  position: fixed;
  height: 200%;
  width: 100%;
  transform: rotate(-15deg);
  left: -83%;
  top: -50%;
  opacity: 0;
  background-color: var(--bg-warning-color);
}
.body-animtn2 {
  position: fixed;
  height: 200%;
  width: 100%;
  left: -50%;
  top: -50%;
  opacity: 0;
  background-color: var(--bg-warning-color);
}
.body-animtn3 {
  position: fixed;
  height: 200%;
  width: 100%;
  transform: rotate(-15deg);
  left: -83%;
  top: -50%;
  background-color: var(--bg-warning-color);
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.1px);
  -webkit-backdrop-filter: blur(0.1px);
}

/*  */
/* ============================== */
/* Sidebar Nav Section */
/* ============================== */
/*  */

.font-a {
  font-family: "Rajdhani", sans-serif;
}
#navbar {
  position: fixed;
  left: 30px;
  z-index: 3;
  display: flex;
  align-items: center;
  top: 50%;
  opacity: 1;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transform: translateY(-50%);
}
#navbar nav .icon-menu .icon-box {
  width: 50px;
  height: 50px;
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.3s;
  margin: 20px 0;
  border-radius: 50%;
  background: var(--main-secondary-color);
  cursor: pointer;

  /* From https://css.glass */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}
#navbar nav .icon-menu .icon-box:hover,
#navbar nav .icon-menu .icon-box.active {
  background-color: var(--main-primary-color);
}
#navbar nav .icon-menu .icon-box a {
  margin: 0 auto;
}
#navbar nav .icon-menu .icon-box a i {
  font-size: 19px;
  transition: 0.3s;
  margin: 0 auto;
  color: var(--bg-warning-color);
}
#navbar nav .icon-menu .icon-box:hover a i,
#navbar nav .icon-menu .icon-box.active a i {
  font-size: 19px;
  transition: 0.3s;
  margin: 0 auto;
  color: #fff;
}
#navbar nav .icon-menu .icon-box h2 {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  color: #fff;
  line-height: 50px;
  font-weight: 500;
  transition: all 0.4s;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 0 25px 0 30px;
  height: 50px;
  margin: 0;
  font-size: 16px;
}
#navbar nav .icon-menu .icon-box:hover h2 {
  opacity: 1;
  left: 27px;
  margin: 0;
  text-align: center;
  border-radius: 0 30px 30px 0;
  background-color: var(--main-primary-color);
}

/*  */
/* ============================== */
/* Hero Section */
/* ============================== */
/*  */
#Home {
  position: relative;
  overflow: hidden;
}
#Home .hero-back-design1 {
  position: absolute;
  height: 200%;
  width: 100%;
  transform: rotate(-75deg);
  right: -83%;
  top: -50%;
  background-color: var(--main-primary-color);
}
#Home .hero-back-design2 {
  position: absolute;
  height: 200%;
  width: 100%;
  transform: rotate(-75deg);
  right: -83%;
  top: -50%;
  background-color: var(--main-primary-color);
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}
.hero-part {
  position: relative;
  padding: 5vw 5vw 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.hero-part .hero-image-sec {
  background-image: url(/assets/images/pranay_masulkar2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  z-index: 11;
  border-radius: 30px;
  left: 40px;
  top: 40px;
  box-shadow: 0 0 7px 1px var(--main-secondary-color);
  height: 80vh;
  width: 30vw;
  position: relative;
}
.hero-part .hero-image-sec::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  /* From https://css.glass */
  background: rgba(2, 67, 43, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}
.hero-part .hero-part-main {
  padding-left: 7vw;
  width: 60%;
}
.hero-part .hero-part-main .hp-subtitle {
  color: #fff;
  font-size: 2vw;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}
.hero-part .hero-part-main .hp-title {
  font-size: 5vw;
  font-weight: 700;
  margin: 18px 0 10px;
  position: relative;
  padding-left: 70px;
  color: var(--main-primary-color);
  text-transform: uppercase;
}
.hero-part .hero-part-main .hp-title:before {
  content: "";
  position: absolute;
  left: 0;
  top: 42px;
  height: 10px;
  width: 40px;
  border-radius: 10px;
  background-color: var(--main-primary-color);
}
.hero-part .hero-part-main .hp-title span {
  color: #fff;
  display: block;
}
.hero-part .hero-part-main .hp-para {
  margin: 15px 0 28px;
  font-size: 16px;
  line-height: 35px;
}
.hero-part .hero-part-main .hp-btn {
  overflow: hidden;
  display: inline-block;
  line-height: 1.4;
  border-radius: 35px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: all 0.25s ease-in-out;
  text-transform: uppercase;
  text-decoration: none !important;
  position: relative;
  z-index: 1;
  padding: 16px 70px 16px 35px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background-color: var(--main-secondary-color);
  outline: none !important;
  cursor: pointer !important;
  border: 1px solid var(--main-primary-color);
}
.hero-part .hero-part-main .hp-btn:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.3s ease-out;
  background-color: var(--main-primary-color);
}
.hero-part .hero-part-main .hp-btn .button-text {
  position: relative;
  z-index: 2;
  color: #fff;
  transition: all 0.3s ease-out;
}
.hero-part .hero-part-main .hp-btn:hover:before {
  transform: translateX(0);
}
.hero-part .hero-part-main .hp-btn .hp-btn-icon {
  position: absolute;
  right: -1px;
  top: -1px;
  bottom: 0;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  color: #fff;
  border-radius: 50%;
  background-color: var(--main-primary-color);
}

/*  */
/* ============================== */
/* Background Animation Section */
/* ============================== */
/*  */

#AboutSection {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.title-section {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 80px 0;
  text-align: center;
}
.title-section h1 {
  font-size: 56px;
  font-weight: 900 !important;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}
.title-section h1 span {
  color: var(--main-primary-color);
}
.title-bg {
  font-size: 110px;
  left: 0;
  letter-spacing: 10px;
  line-height: 0.7;
  position: absolute;
  right: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 800;
  transform: translateY(-50%);
  color: hsla(0, 0%, 100%, 0.07);
}
