/*  */
/* ============================== */
/* Background Animation Section */
/* ============================== */
/*  */
#main {
  height: 100%;
  width: 100%;
  background-color: #111;
  position: relative;
  overflow-x: hidden;

  background-image: linear-gradient(
    to bottom,
    #012d1d,
    #122d14,
    #1f2c0b,
    #2b2a04,
    #362703
  );
}

/*  */
/* ============================== */
/* Background Animation Section */
/* ============================== */
/*  */

.body-animtn1 {
  position: fixed;
  height: 200%;
  width: 100%;
  transform: rotate(-15deg);
  left: -83%;
  top: -50%;
  opacity: 0;
  background-color: var(--warning-color);
  background-image: linear-gradient(
    to bottom,
    #013c27,
    #193d1b,
    #2c3d0e,
    #3d3c03,
    #4f3800
  );
  overflow: hidden;
}
.body-animtn2 {
  position: fixed;
  height: 200%;
  width: 100%;
  left: -50%;
  top: -50%;
  opacity: 0;
  background-color: var(--warning-color);
  background-image: linear-gradient(
    to bottom,
    #013c27,
    #193d1b,
    #2c3d0e,
    #3d3c03,
    #4f3800
  );
  overflow: hidden;
}
.body-animtn3 {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--warning-color);
  background: rgba(0, 0, 0, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.1px);
  -webkit-backdrop-filter: blur(0.1px);
  overflow: hidden;
}

/*  */
/* ============================== */
/* Sidebar Nav Section */
/* ============================== */
/*  */

.font-a {
  font-family: "Rajdhani", sans-serif;
}
#navbar {
  position: fixed;
  left: 30px;
  z-index: 3;
  display: flex;
  align-items: center;
  top: 50%;
  opacity: 1;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transform: translateY(-50%);
}
#navbar nav .icon-menu .icon-box {
  width: 50px;
  height: 50px;
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.3s;
  margin: 20px 0;
  border-radius: 50%;
  background: var(--main-secondary-color);
  cursor: pointer;
  background: rgba(2, 58, 38, 0.67);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}
#navbar nav .icon-menu .icon-box:hover,
#navbar nav .icon-menu .icon-box.active {
  background-color: var(--main-primary-color);
}
#navbar nav .icon-menu .icon-box a {
  margin: 0 auto;
}
#navbar nav .icon-menu .icon-box a i {
  font-size: 19px;
  transition: 0.3s;
  margin: 0 auto;
  color: var(--warning-color);
}
#navbar nav .icon-menu .icon-box:hover a i,
#navbar nav .icon-menu .icon-box.active a i {
  font-size: 19px;
  transition: 0.3s;
  margin: 0 auto;
  color: #fff;
}
#navbar nav .icon-menu .icon-box h2 {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  color: #fff;
  line-height: 50px;
  font-weight: 500;
  transition: all 0.4s;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 0 25px 0 30px;
  height: 50px;
  margin: 0;
  font-size: 16px;
}
#navbar nav .icon-menu .icon-box:hover h2 {
  opacity: 1;
  left: 27px;
  margin: 0;
  text-align: center;
  border-radius: 0 30px 30px 0;
  background-color: var(--main-primary-color);
}

/*  */
/* ============================== */
/* Hero Section */
/* ============================== */
/*  */
#Home {
  position: relative;
  /* overflow: hidden; */
}
#Home .hero-back-design1 {
  position: absolute;
  height: 200%;
  width: 100%;
  transform: rotate(-75deg);
  right: -83%;
  top: -50%;
  background-color: var(--main-primary-color);
  background: rgba(48, 178, 18, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  overflow: hidden;
}
#Home .hero-back-design2 {
  position: absolute;
  height: 200%;
  width: 100%;
  transform: rotate(-75deg);
  right: -83%;
  top: -50%;
  background-color: var(--main-primary-color);
  background: rgba(0, 0, 0, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  overflow: hidden;
}
.hero-part {
  position: relative;
  padding: 5vw 5vw 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.hero-part .hero-image-sec {
  background-image: url(/assets/images/pranay_masulkar2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  z-index: 11;
  border-radius: 30px;
  left: 40px;
  top: 40px;
  box-shadow: 0 0 7px 1px var(--main-secondary-color);
  height: 80vh;
  width: 30vw;
  position: relative;
}
.hero-part .hero-image-sec::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(2, 67, 43, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}
.hero-part .hero-part-main {
  padding-left: 7vw;
  width: 60%;
}
.hero-part .hero-part-main .hp-subtitle {
  color: #fff;
  font-size: 2vw;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}
.hero-part .hero-part-main .hp-title {
  font-size: 5vw;
  font-weight: 700;
  margin: 18px 0 10px;
  position: relative;
  padding-left: 70px;
  color: var(--main-primary-color);
  text-transform: uppercase;
}
.hero-part .hero-part-main .hp-title:before {
  content: "";
  position: absolute;
  left: 0;
  top: 42px;
  height: 10px;
  width: 40px;
  border-radius: 10px;
  background-color: var(--main-primary-color);
}
.hero-part .hero-part-main .hp-title span {
  color: #fff;
  display: block;
}
.hero-part .hero-part-main .hp-para {
  margin: 15px 0 28px;
  font-size: 16px;
  line-height: 35px;
}

/*  */
/* ============================== */
/* Background Animation Section */
/* ============================== */
/*  */

#AboutSection {
  /* height: 100vh; */
  width: 100vw;
  position: relative;
  /* overflow-y: scroll; */
}
.title-section {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 80px 0;
  text-align: center;
}
.title-section h1 {
  font-size: 56px;
  font-weight: 900 !important;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}
.title-section h1 span {
  color: var(--main-primary-color);
}
.title-bg {
  font-size: 110px;
  left: 0;
  letter-spacing: 10px;
  line-height: 0.7;
  position: absolute;
  right: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 800;
  transform: translateY(-50%);
  color: hsla(0, 0%, 100%, 0.07);
}

/* ============ */

.my-details {
  padding: 5vw 5vw 5vw 12vw;
}
.mycontainer {
}
.myrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}
.mycol-1 {
  width: 80%;
  padding: 3rem;
  flex: 0 0 0 50%;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}

.mycol-1 .about-list {
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}
.mycol-1 .about-list li {
  padding: 0.75rem 0 0.75rem 2rem;
  flex: 0 0 50%;
  max-width: 50%;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  font-family: "Rajdhani", sans-serif;
  text-transform: capitalize;
  position: relative;
}
.mycol-1 .about-list li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 21px;
  height: 1px;
  width: 20px;
  border-radius: 10px;
  background-color: var(--main-primary-color);
}
.mycol-1 .about-list li span:first-child {
  color: #fff;
}
.mycol-1 .about-list li span {
  font-weight: 700;
  color: var(--main-primary-color);
}
.mycol-2 {
  width: 20%;
}

.mycol-2 .about .box-stats {
  margin-bottom: 40px;
  padding: 20px 30px 25px 40px;
  border-radius: 5px;
  border: 1px solid #252525;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}
.mycol-2 .about .box-stats:last-child {
  margin: 0;
}
.mycol-2 .about .box-stats h3 {
  position: relative;
  display: inline-block;
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  color: var(--main-primary-color);
}
.mycol-2 .about .box-stats h3:after {
  content: "+";
  position: absolute;
  right: -24px;
  font-size: 43px;
  font-weight: 900;
  top: 2px;
  color: var(--main-primary-color);
}
.mycol-2 .about .box-stats p {
  padding-left: 45px;
  position: relative;
  font-size: 18px;
  text-transform: uppercase;
}
.mycol-2 .about .box-stats p:before {
  content: "";
  position: absolute;
  left: 0;
  top: 13px;
  width: 30px;
  height: 1px;
  background-color: var(--main-primary-color);
}
.mycol-2 .about .box-stats p span {
  display: block;
}

/*  */
/* ============================== */
/* My Skill's Section */
/* ============================== */
/*  */

.myskills {
  margin: 5rem 0;
  padding: 9rem 5vw 9rem 12vw;
  background-image: linear-gradient(
    to right bottom,
    #000018,
    #110013,
    #18000c,
    #190304,
    #180800,
    #180800,
    #180800,
    #180800,
    #190304,
    #18000c,
    #110013,
    #000018
  );
  opacity: 0.8;
}

#target {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  height: 0;
  overflow: hidden;
}
.myskills .mscontainer {
}
.myskills .mscontainer .mscol1 {
}
.mscol1 .skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.mscol1 .skills .skill {
  width: 48%;
  margin: 1.5rem 0;
  padding: 3rem;
  border-radius: 5px;
  border: 1px solid #252525;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}
.mscol1 .skill-name {
  margin: 0px 0 10px;
  font-size: 18px;
  font-weight: 700;
  color: #eeedf0;
  text-transform: uppercase;
}

.mscol1 .skill-bar {
  height: 14px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}

.mscol1 .skill-percentage {
  height: 14px;
  background: var(--main-primary-color);
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  position: relative;
  animation: fillBars 2.5s 1;
}

.mscol1 .skill-percentage::before {
  content: attr(per);
  position: absolute;
  padding: 0.3rem 1rem;
  background: var(--main-primary-color);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  top: -35px;
  right: 0;
  transform: transition(50%);
}

.mscol1 .skill-percentage::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--warning-color);
  top: -20px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@keyframes fillBars {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/*  */
/* ============================== */
/* Experiance Section */
/* ============================== */
/*  */

.excontainer {
  padding: 6rem 5vw 6rem 12vw;
}
.excontainer .exrow {
}
.excontainer .exrow .excol1 {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 5%;
  margin-bottom: 3rem;
}
.excontainer .exrow .Title-Two-Gradient {
  margin-bottom: 40px;
}
.excontainer .exrow .excol1 .exbox {
  width: 50%;
  position: relative;
  margin: 0 0 3rem;
  padding: 3rem 6rem;
  border-radius: 5px;
  border: 1px solid #252525;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}
.excontainer .exrow .excol1 .exbox:after {
  content: "";
  position: absolute;
  top: 0;
  left: 25px;
  bottom: 0;
  border-left: 1px solid var(--main-primary-color);
}
.excontainer .exrow .excol1 .exbox .icon {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  line-height: 57px;
  text-align: center;
  z-index: 1;
  border-radius: 50%;
  background-color: var(--main-primary-color);
}
.excontainer .exrow .excol1 .exbox .icon i {
  color: #fff;
  font-size: 22px;
}
.excontainer .exrow .excol1 .exbox .time {
  color: var(--warning-color);
  font-size: 18px;
  padding: 9px 32px;
  display: inline-block;
  margin-bottom: 12px;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.8;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}
.excontainer .exrow .excol1 .exbox h5 {
  margin: 7px 0 10px;
  font-size: 30px;
  font-weight: 700;
  color: #eeedf0;
  text-transform: uppercase;
}
.excontainer .exrow .excol1 .exbox .place {
  margin: 1rem 0;
  opacity: 0.8;
  display: block;
  position: relative;
  font-weight: 600;
  font-size: 22px;
  position: relative;
  padding-left: 26px;
}

.excontainer .exrow .excol1 .exbox .place:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  background-color: var(--main-primary-color);
  left: 7px;
  top: 9px;
  opacity: 0.8;
}
.excontainer .exrow .excol1 .exbox p {
  margin: 0;
  color: #eee;
  font-size: 18px;
  font-weight: 400;
}

/*  */
/* ============================== */
/* Portfolio Section */
/* ============================== */
/*  */

#PortFolio {
  position: relative;
}

#PortFolio .wiggle {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.15);
}

#PortFolio .wiggle:hover {
  -webkit-animation: none;
}

#PortFolio .short-animate {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#PortFolio .long-animate {
  -webkit-transition: 0.5s 0.5s ease-in-out;
  -moz-transition: 0.5s 0.5s ease-in-out;
  -ms-transition: 0.5s 0.5s ease-in-out;
  -o-transition: 0.5s 0.5s ease-in-out;
  transition: 0.5s 0.5s ease-in-out;
}

.lightbox {
  position: fixed;
  top: -100%;
  bottom: 100%;
  left: 0;
  right: 0;
  background: #984447;
  z-index: 501;
  opacity: 0;
}

.lightbox img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 0%;
  max-height: 0%;
}

#lightbox-controls {
  position: fixed;
  height: 70px;
  width: 70px;
  top: -70px;
  right: 0;
  z-index: 502;
  background: rgba(0, 0, 0, 0.1);
}

#close-lightbox {
  display: block;
  position: absolute;
  overflow: hidden;
  height: 50px;
  width: 50px;
  text-indent: -5000px;
  right: 10px;
  top: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#close-lightbox:before {
  content: "";
  display: block;
  position: absolute;
  height: 0px;
  width: 3px;
  left: 24px;
  top: 0;
  background: white;
  border-radius: 2px;
  -webkit-transition: 0.5s 0.5s ease-in-out;
  -moz-transition: 0.5s 0.5s ease-in-out;
  -ms-transition: 0.5s 0.5s ease-in-out;
  -o-transition: 0.5s 0.5s ease-in-out;
  transition: 0.5s 0.5s ease-in-out;
}

#close-lightbox:after {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  height: 3px;
  top: 24px;
  left: 0;
  background: white;
  border-radius: 2px;
  -webkit-transition: 0.5s 1s ease-in-out;
  -moz-transition: 0.5s 1s ease-in-out;
  -ms-transition: 0.5s 1s ease-in-out;
  -o-transition: 0.5s 1s ease-in-out;
  transition: 0.5s 1s ease-in-out;
}

.lightbox:target {
  top: 0%;
  bottom: 0%;
  opacity: 1;
}

.lightbox:target img {
  max-width: 100%;
  max-height: 100%;
}

.lightbox:target ~ #lightbox-controls {
  top: 0px;
}

.lightbox:target ~ #lightbox-controls #close-lightbox:after {
  width: 50px;
}

.lightbox:target ~ #lightbox-controls #close-lightbox:before {
  height: 50px;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(2deg);
  }
  20% {
    -webkit-transform: rotate(-2deg);
  }
  40% {
    -webkit-transform: rotate(2deg);
  }
  60% {
    -webkit-transform: rotate(-2deg);
  }
  80% {
    -webkit-transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(-2deg);
  }
}
